* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 62.5%;
  background: url('/img/bg.jpg');
  background-position: center;
  background-size: cover;
  object-fit: contain;
  color: white;
}
/* header */

.header-img {
  border-radius: 1rem;
  box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.41);
}
nav form {
  width: 15% !important;
}

/* article */

.article {
  padding: 0 10% !important;
}

.articles_ul {
  padding: 0;
  list-style-type: none;
  font-size: 1rem;
}
.articles_ul li a {
  text-decoration: none;
  color: antiquewhite;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  margin: 1.6rem 0;
}

.article_date {
  color: #505050;
  font-size: 10px;
  align-self: center;
  font-weight: 800;
}
.articles_ul li:not(:last-child) {
  border-bottom: 1px solid rgb(255, 255, 255);
}
.li-content {
  transition: all 0.3s;
}

.active-li {
  filter: blur(2px);
}
.pagination {
  font-size: 12px;
  color: bisque;
  font-weight: 500;
  text-decoration: none;
  transition: all 0.3s;
  width: 100px;
}
.pagination:hover {
  color: rgb(255, 245, 232);
}
footer {
  padding: 7%;
}
.footer {
  border-top: 2px solid rgb(255, 255, 255);
}

/* form */

.form {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 10%);
  width: 350px;
  min-height: 400px;
  background-color: #fff;
  box-shadow: 0 15px 50px rgba(0, 0, 0, 0.5);
  padding: 50px;
  box-sizing: border-box;
}

.form h2 {
  color: #777;
  margin: 0 0 40px;
  padding: 0;
}

.form .input-box {
  position: relative;
  margin: 20px 0;
}

.form .input-box input {
  width: 100%;
  font-size: 16px;
  border: none;
  border-bottom: 2px solid #777;
  outline: none;
  padding: 10px;
  padding-left: 30px;
  box-sizing: border-box;
  font-weight: bold;
  color: #777;
}

.form .input-box input:focus,
.form .input-box input:valid {
  border-bottom-color: #03a9f4;
}

.form .input-box .fa {
  position: absolute;
  top: 8px;
  left: 5px;
  font-size: 18px;
  color: #777;
}

.form .input-box input[type='submit'] {
  border: none;
  cursor: pointer;
  background-color: #03a9f4;
  color: #fff;
  font-weight: bold;
  transition: 0.5s;
}

.form .input-box input[type='submit']:hover {
  background-color: #ff4987;
}

.form a {
  text-decoration: none;
  color: #777;
  margin-top: 20px;
  font-weight: bold;
  display: inline-block;
  transition: 0.5s;
}

.form a:hover {
  color: #ff4987;
}

/* admin */

.admin-title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.admin-title a {
  font-size: 1rem;
  color: rgb(255, 255, 255);
  font-weight: 600;
  transition: all 0.3s;
}
.admin-title a:hover {
  color: red;
}
.post-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
  margin-bottom: 1rem;
}
.admin-posts li a {
  color: white;
  text-decoration: none;
  transition: all 0.2s;
}
.admin-posts a:hover {
  color: rgba(255, 255, 255, 0.694);
}

.admin-button input {
  margin-left: 50px;
  padding: 5px;
  width: 70px;
  font-size: 12px;
  text-align: center;
  box-sizing: border-box !important;
  background-color: red;
  color: white;
  border: none;
  font-weight: 600;
  transition: all 0.3s;
}
.admin-button input:not(:last-child) {
  background-color: black;
}
#edit-btn:hover {
  background-color: rgb(63, 63, 63);
}
#delete-btn:hover {
  background-color: rgb(205, 46, 46);
}
